<div>

<div id="bannerLogo"><h1>TUITIONIFY</h1></div>

<h1>Tagline here</h1>
<blockquote>Invest in me, nothing more, nothing less</blockquote>

<h4> Why home tuition? </h4>
<blockquote>
Lorem ipsum dolor sit amet, consectetur adipiscing elit. Nullam lobortis, quam vitae blandit convallis, ante augue efficitur diam, ut lacinia sapien lacus vestibulum enim. Ut elementum bibendum ultrices. Aenean eget enim interdum, finibus ligula id, ullamcorper elit. Aliquam in blandit dui. Aliquam aliquam orci id malesuada varius. Integer quis ullamcorper eros. Nullam id vestibulum massa, id venenatis urna. Sed eu justo vel nibh iaculis sagittis. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Maecenas id ante at nibh laoreet sodales. Integer lobortis dolor at ullamcorper auctor. Aliquam ultricies lobortis est, eget euismod risus faucibus et. Nunc a ex suscipit, tempus odio vitae, hendrerit tellus. Nunc finibus diam sed lectus eleifend, a convallis magna viverra.
</blockquote>


</div>
